@font-face {
    font-family: "InterRegular";
    src: local("InterRegular"),
    url("Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "InterMedium";
    src: local("InterMedium"),
    url("Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "NordiqueProBold";
    src: local("NordiqueProBold"),
    url("Nordique-Pro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoLight";
    src: local("NunitoLight"),
    url("Nunito-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "NunitoRegular";
    src: local("NunitoRegular"),
    url("Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoMedium";
    src: local("NunitoMedium"),
    url("Nunito-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "NunitoBold";
    src: local("NunitoBold"),
    url("Nunito-Bold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "NunitoSemiBold";
    src: local("NunitoSemiBold"),
    url("Nunito-SemiBold.ttf") format("truetype");
    font-weight: 700;
}